# PHPStorm
/.idea/

# Eclipse
/.settings
/.project
/.buildpath

# Netbeans
/nbproject/

# Build Artifacts
/build/

# Composer
/vendor/

# Phive
/tools/*.bat

#PHPUnit
/.phpunit.result.cache
/phpunit.xml
